@import 'tailwindcss';
@import"@tailwindcss/typography";

@theme {
    --color-rust: #cf6f30;
    --color-bluesteel: #0e151e;
    --color-lightwheat: #ffd388;
}

/* set */
.ProseMirror {        
min-height: 370px;
max-height: 370px;
overflow-y: auto;
}

.tiptap {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}